.welcome {
display: flex;
  width: 50%;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}
.welcome span {
  background-color: rgb(240, 220, 194);
  margin-left: 145px;
}
.welcome button {
  color: blue;
  border: none;
  background-color: rgb(240, 220, 194);
}
.btn {
  width: 40%;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.verify {
  height: 2rem;
  font-weight: bold;
  background-color: aqua;
}

.premium {
  width: 10rem;
  height: 2rem;
  font-weight: bold;
  background-color: brown;
  color: white;
}

.csv {
  width: 10rem;
  height: 2rem;
  font-weight: bold;
  background-color: indigo;
  color: white;
}

.dark {
  width: 10rem;
  height: 2rem;
  font-weight: bold;
  background-color: gray;
  color: black;
}